.header__lang-link {
  margin-right: 18px;
  color: #fff;
  font-size: 18px;
  line-height: 1.11;
  text-decoration: none;
  transition: opacity .2s ease;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (min-width:768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 1.17;
  }
}