.place__title {
  margin: 0;
  padding: 0 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
}

@media screen and (min-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    padding: 0;
    align-self: end;
  }
}

@media screen and (min-width:1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}