.header {
  margin: 0 auto;
  width: calc(100% - 32px);
  padding: 16px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width:768px) {
  .header {
    padding-top: 28px;
    width: calc(100% - 48px);
  }
}

@media screen and (min-width:1024px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width:1280px) {
  .header {
    max-width: 1184px;
  }
}
