.places__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 49px;
  grid-template-columns: 1fr;
}

@media screen and (min-width:768px) {
  .places__list {
    row-gap: 73px;
  }
}

@media screen and (min-width:1024px) {
  .places__list {
    row-gap: 80px;
  }
}