.place {
  display: grid;
  row-gap: 32px;
  grid-template-columns: 1fr;
}

@media screen and (min-width:768px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: minmax(340px, 50%) minmax(352px, 60%);
  }
}

@media screen and (min-width:1024px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: minmax(440px, 50%) minmax(456px, 60%);
  }
}

@media screen and (min-width:1280px) {
  .place {
    gap: 48px 40px;
    grid-template-columns: minmax(460px, 50%) minmax(484px, 60%);
  }
}